.s_button1:before {
    content: "";
    position: absolute;
    display: block;
    transition: all .6s;
    width: 100%;
    height: 0;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    padding-top: 100%;
    transform: translateX(-50%) translateY(-50%)
}

.s_button1:hover:before {
    animation: style1 .75s;
    z-index: 1
}

@keyframes style1 {
    0% {
        background: rgba(0,0,0,.25);
        transform: translateX(-50%) translateY(-50%) scale(0)
    }

    to {
        background: 0 0;
        transform: translateX(-50%) translateY(-50%) scale(1)
    }
}

.s_button4::after {
    opacity: 1;
    width: 0
}

.s_button4:hover::after {
    width: 100%;
    background-color: #409ef4
}

.s_title {
    font-size: 16px;
    line-height: 1;
    font-family: a7feccc3-1fd0-4213-9fd3-9b2ff2605821
}

.s_button1:hover {
    background-color: #333;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-style: none;
    border-color: #409eff
}

.s_summary {
    font-size: 14px;
    color: #666;
    line-height: 1.5
}

.s_button1 {
    background-color: #fcc80d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    border-style: none;
    border-color: #409eff;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    font-family: "74227204-0ea6-4d0c-ad56-d37df8bbd1d3"
}

.s_button5 {
    background-color: rgba(255,255,255,0);
    font-size: 14px;
    color: #409eff;
    border-style: solid;
    border-width: 1px;
    border-color: #409eff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all .3s
}

.s_subtitle {
    color: #222;
    font-size: 28px;
    font-weight: 700;
    line-height: 1
}

.s_templatetitle {
    font-size: 16px;
    color: #333
}

.s_templatesum {
    font-size: 14px;
    color: #666
}

.s_body {
    font-size: 12px;
    color: #f56c6c;
    line-height: 1.5
}

.s_link {
    font-size: 14px;
    color: #666;
    line-height: 2
}

.s_list {
    background-color: rgba(255,255,255,0)
}

.s_item {
    background-color: #000
}

.s_comp {
    background-color: #fffef8
}

.s_tmpl {
    background-color: #efefef
}

.s_tmpl_footer {
    background-color: #efefef
}

body {
    background-color: rgba(255,255,255,0)
}

.s_button2 {
    background-color: #409eff;
    font-size: 14px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #409eff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .3s
}

.s_button2:hover {
    background-color: #fff;
    color: #409eff;
    border-style: solid;
    border-color: #409eff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}

.s_button3 {
    background-color: #409eff;
    font-size: 14px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #409eff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: all .3s
}

.s_button3:hover {
    background-color: #338fee;
    color: #fff;
    border-style: solid;
    border-color: #338fee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.s_button4 {
    background-color: #fff;
    font-size: 14px;
    color: #333;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all .3s
}

.s_button4:hover {
    background-color: #fff;
    font-size: 14px;
    color: #409eff;
    border-style: solid;
    border-color: #409eff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}

.s_button5:hover {
    background-color: #409eff;
    font-size: 14px;
    color: #fff;
    border-style: solid;
    border-color: #409eff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.s_button6 {
    font-size: 14px;
    color: #409eff;
    border-style: solid;
    border-width: 1px;
    border-color: #409eff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all .3s
}

.s_button6:hover {
    font-size: 14px;
    color: #fff;
    border-style: solid;
    border-color: #409eff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.page_a {
    font-size: 14px;
    color: #8a8a8a;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family: Arial;
    background-color: rgba(255,255,255,0)
}

.page_a:hover {
    color: #409eff;
    border-color: #409eff;
    background-color: rgba(255,255,255,0)
}

.page_a.current {
    background-color: #222a35;
    font-size: 14px;
    font-family: Arial;
    color: #fff;
    border-style: solid;
    border-width: 0;
    border-color: #222a35;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.page_a.current:hover {
    background-color: #474b52;
    color: #fff;
    border-color: #409eff
}

.page_jump {
    font-size: 14px;
    color: #747474
}

.page_jump:hover {
    color: #747474
}

.page_a.disabled {
    background-color: #f4f4f5;
    font-size: 14px;
    color: #c0c4cc;
    border-style: solid;
    border-width: 1px;
    border-color: #f4f4f5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.page_a.disabled:hover {
    background-color: #f4f4f5;
    color: #c0c4cc;
    border-color: #f4f4f5
}

.page_input {
    background-color: rgba(255,255,255,0);
    font-size: 14px;
    color: #606266;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.page_input:hover {
    background-color: rgba(255,255,255,0);
    color: #606266;
    border-color: #409eff
}

@font-face {
    font-family: a3d65174-c529-4a88-a197-b8fbee011ee3;
    src: url(https://omo-oss-file.thefastfile.com/portal-saas/new2022112320073425935/cms/file/a3d65174-c529-4a88-a197-b8fbee011ee3.otf) format("opentype");
    font-alias:Montserrat-Regular}

@font-face {
    font-family: e2754e0b-415a-4774-bcdd-38d333e18418;
    src: url(https://omo-oss-file.thefastfile.com/portal-saas/new2022112320073425935/cms/file/e2754e0b-415a-4774-bcdd-38d333e18418.otf) format("opentype");
    font-alias:Montserrat-Medium}

@font-face {
    font-family: "5e358368-ae17-451e-99ca-375dc2dc4c9d";
    src: url(https://omo-oss-file.thefastfile.com/portal-saas/new2022112320073425935/cms/file/5e358368-ae17-451e-99ca-375dc2dc4c9d.otf) format("opentype");
    font-alias:Montserrat-Bold}

@font-face {
    font-family: e9081ac0-ec31-4271-a3c5-c6ddab3f3e69;
    src: url(https://omo-oss-file.thefastfile.com/portal-saas/new2022112320073425935/cms/file/e9081ac0-ec31-4271-a3c5-c6ddab3f3e69.otf) format("opentype");
    font-alias:Montserrat-Black}

@font-face {
    font-family: ff49f63f-b768-43c1-8260-262f780ab68b;
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2022112320073425935/cms/file/ff49f63f-b768-43c1-8260-262f780ab68b.otf) format("opentype");
    font-alias:gilroy-bold-4}

@font-face {
    font-family: "00d7ae26-b0eb-40bc-b3bf-be34e47d3c7c";
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2022112320073425935/cms/file/00d7ae26-b0eb-40bc-b3bf-be34e47d3c7c.otf) format("opentype");
    font-alias:gilroy-regular-3}

@font-face {
    font-family: "5e8967fe-b556-495b-a8e0-83cfdb9f204a";
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2022112320073425935/cms/file/5e8967fe-b556-495b-a8e0-83cfdb9f204a.otf) format("opentype");
    font-alias:gilroy-black-6}

@font-face {
    font-family: "8b421f2c-d791-43b4-8509-33e0c50d2da6";
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2023021320030992247/cms/file/8b421f2c-d791-43b4-8509-33e0c50d2da6.ttf) format("truetype");
    font-alias:verdana}

@font-face {
    font-family: ce358ac6-a712-46cb-a035-c18df39dd823;
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2023021320030992247/cms/file/ce358ac6-a712-46cb-a035-c18df39dd823.ttf) format("truetype");
    font-alias:verdanab}

@font-face {
    font-family: a7feccc3-1fd0-4213-9fd3-9b2ff2605821;
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2023022410443282142/cms/file/a7feccc3-1fd0-4213-9fd3-9b2ff2605821.otf) format("opentype");
    font-alias:Montserrat-Regular-8}

@font-face {
    font-family: "74227204-0ea6-4d0c-ad56-d37df8bbd1d3";
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2023022410443282142/cms/file/74227204-0ea6-4d0c-ad56-d37df8bbd1d3.otf) format("opentype");
    font-alias:Montserrat-SemiBold-9}

@font-face {
    font-family: "98732652-6717-41fb-a39e-af90b55bba2f";
    src: url(https://omo-oss-file1.thefastfile.com/portal-saas/new2023022410443282142/cms/file/98732652-6717-41fb-a39e-af90b55bba2f.otf) format("opentype");
    font-alias:Montserrat-Light-6}
