.sideBar {
    position: fixed;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    z-index: 998;
}
*{ word-break:normal!important;}
span{ word-break:normal!important;}
p{ word-break:normal!important;}
.side1 {
    width: 50px;
    height: 150px;
    background: #333333;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side1 a,
.side1 img,
.side1 i,
.side1 span {
    display: block;
}

.side1 img {
    margin: 0 auto;
}

.side1 i {
    margin: 10px auto;
    width: 1px;
    height: 20px;
    background: #fff;
    transition: all 0.5s ease;
}

.side1 span {
    color: #fff;
    font-size: 14px;
    writing-mode: vertical-lr;
    margin: 0 auto;
    letter-spacing: 2px;
}

.side1:hover {
    background:#000;
}

.side1:hover a img {
    animation: jitter 0.5s;
}

.side {
    height: 50px;
    position: absolute;
    transition: all 0.5s;
}

.side a {
    display: block;
    height: 50px;
    font-size: 0;
}

.side i,
.side span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 50px;
}

.side i {
    width: 50px;
    text-align: center;
    background: #fcc80d;
    transition: all 0.3s;
}

.side i img {
    vertical-align: middle;
}

.side span {
    text-align: center;
    line-height: 50px;
    background: #232323;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
}

.side2 {
    top: 151px;
    right: -140px;
    width: 190px;
}

.side2 span {
    width: 140px;
}

.side3 {
    right: -190px;
    width: 240px;
    top: 202px;
}

.side3 span {
    width: 190px;
}

.side4 {
    right: -140px;
    width: 190px;
    top: 253px;
}

.side4 span {
    width: 140px;
}


.side5 {
    right: -90px;
    width: 140px;
    top: 305px;
    cursor: pointer;
}

.side5 span {
    width: 90px;
    font-size: 14px;
}

.qcodePic {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    z-index: 99;
    text-align: center;
    background: #fff;
    border: 1px solid #e5e5e5;
}

.qcodePic img{
    width: 100%;
}

.side5:hover .qcodePic {
    display: block;
}

.side6 {
    right: -90px;
    width: 140px;
    top: 365px;
    cursor: pointer;
}

.side6 span {
    width: 90px;
    font-size: 14px;
}

.side:hover {
    right: 0;
}

.side:hover i {
    background:#fcc80d;
}

.wxPic {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

.wxPic img {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.m-foot {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #f5f5f5;
    display: none;
}

.m-foot ul {
    font-size: 0;
    text-align: center;
    height: 54px;
}

.m-foot ul li {
    float: left;
    width: 20%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.m-foot ul li:nth-child(3) {
    background: #e80101;
    border-left: none;
    border-top: 1px solid #e80101;
}

.m-foot ul li:nth-child(3) span {
    color: #fff !important;
}

.m-foot ul li:first-child,
.m-foot ul li:nth-child(4) {
    border-left: none;
}

.m-foot ul li span,
.m-foot ul li img {
    display: block;
    margin: 6px auto;
}

.m-foot ul li span {
    line-height: 14px;
    font-size: 12px;
    color: #1a1a1a;
    transition: all 0.4s;
}

.m-foot ul li:hover span {
    color: #e80101;
}

.wyz {
    position: fixed;
    width: 50px;
    height: 50px !important;
    right: 6px;
    bottom: 150px;
    z-index: 90;
    display: none;
}

@media only screen and (max-width: 768px) {
  .side1 {
    width: 36px!important;}
  .side i {
    width: 36px;}
  .side2 {
    top: 151px;width: 176px;
    right: -140px;}
  .side5 {
   right: -104px;}
  .side4 {
   right: -154px;}
  .side3 {
    right: -191px;width: 227px;
  }

    .sideBar {
top:50%;
    }
  .side6{     top: 304px; right: -104px;}
    .m-foot {
        display: block;
    }

    .wyz {
        display: block;
    }
  
  .ann1b {
    width: 80%;
    color: #444;
    max-width: 460px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

}